<%= form_for @changeset, Routes.topic_path(@conn, :create), fn f -> %>

    <div class="form-group">
        <%= text_input(f, :title, placeholder: "Title", class: "form-control") %>
    </div>

    <%= submit "Save Topic", class: "btn btn-primary" %>
<% end %>
